.page {
  position: relative;
  width: 750px;
  height: 1624px;
  margin: 0 auto;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(13, 12, 3, 1);
  height: 1624px;
}

.image_1 {
  width: 750px;
  height: 88px;
}

.block_1 {
  padding: 42px 30px 505px 30px;
}

.image-wrapper_1 {
  width: 690px;
}

.label_1 {
  width: 42px;
  height: 42px;
}

.label_2 {
  width: 42px;
  height: 42px;
}

.block_2 {
  width: 472px;
  align-self: center;
  margin-top: 80px;
}

.group_1 {
  background-image: url(./img/e08c3d54c49745649431981a8ed3359e_mergeImage.png);
}

.box_2 {
  height: 353px;
  background: url(./img/SketchPng3799dbc7d597448452b0102b2f021a360158aa5bb50c481eda3510811a9c5876.png)
    0px 62px no-repeat;
  background-size: 380px 292px;
  margin: -62px 43px 5px 50px;
}

.section_1 {
  height: 302px;
  background: url(./img/SketchPng09d5cb681c3f8202ed0539433980582650e4d303bf9e8bfe071ea3200f9a4f31.png) -1px -1px
    no-repeat;
  background-size: 308px 303px;
  width: 307px;
  margin: 52px -4px -1px 76px;
}

.box_3 {
  position: relative;
  background: url(./img/SketchPng2974a9fdad7da7fb94b579a98712c22e2b9f9b4056607ce4a9a1741274a3679b.png) -11px -14px
    no-repeat;
  background-size: 469px 223px;
  margin: 95px -34px 6px -115px;
  padding: 124px 66px 30px 103px;
}

.image-wrapper_2 {
  width: 287px;
}

.image_2 {
  width: 63px;
  height: 47px;
}

.label_3 {
  width: 46px;
  height: 34px;
  margin-bottom: 13px;
}

.image_3 {
  position: absolute;
  left: 45px;
  top: 88px;
  width: 385px;
  height: 39px;
}

.image-wrapper_3 {
  height: 58px;
  background: url(./img/SketchPng8e0f4adf0997891544e3a8ff05642da0d6018ba92fd30da3ba26be601f3d9558.png)
    0px 0px no-repeat;
  background-size: 54px 59px;
  width: 53px;
  position: absolute;
  left: 269px;
  top: 71px;
}

.image_4 {
  width: 63px;
  height: 47px;
  margin: -30px 31px 41px -41px;
}

.block_3 {
  width: 558px;
  align-self: center;
  margin-top: 64px;
}

.section_2 {
  width: 558px;
  background: url(./img/SketchPng84e07f6846f59a4419dd00ffc9c1d7fc66733091f1ca415c71eb6898d31e0640.png) -3px -3px
    no-repeat;
  background-size: 564px 78px;
  justify-content: flex-center;
  padding: 14px 20px 14px 20px;
}

.label_4 {
  width: 36px;
  height: 36px;
  margin: 4px 0 4px 0;
}

.text_1 {
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(13, 12, 3, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
  margin-left: 34px;
}

.label_5 {
  width: 28px;
  height: 28px;
  margin: 8px 0 8px 256px;
}

.block_4 {
  width: 558px;
  align-self: center;
  margin-top: 50px;
}

.section_3 {
  width: 558px;
  background: url(./img/SketchPng84e07f6846f59a4419dd00ffc9c1d7fc66733091f1ca415c71eb6898d31e0640.png) -3px -3px
    no-repeat;
  background-size: 564px 78px;
  justify-content: flex-center;
  padding: 14px 20px 14px 20px;
}

.label_6 {
  width: 36px;
  height: 36px;
  margin: 4px 0 4px 0;
}

.text_2 {
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(13, 12, 3, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
  margin-left: 34px;
}

.image_5 {
  width: 29px;
  height: 20px;
  margin: 12px 0 12px 224px;
}

.label_7 {
  width: 28px;
  height: 28px;
  margin: 8px 0 8px 20px;
}

.block_5 {
  margin: 40px 66px 0 4px;
}

.label_8 {
  width: 42px;
  height: 42px;
}

.image-text_1 {
  width: 242px;
  margin-left: 20px;
}

.label_9 {
  width: 42px;
  height: 42px;
}

.text-group_1 {
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(233, 233, 233, 1);
  font-size: 24px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
  margin-top: 7px;
}

.text_3 {
  height: 29px;
  overflow-wrap: break-word;
  color: rgba(233, 233, 233, 1);
  font-size: 24px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 33px;
  margin: 7px 0 0 196px;
}

.block_6 {
  width: 558px;
  align-self: center;
  margin-top: 48px;
}

.text-wrapper_1 {
  background-color: rgba(255, 184, 0, 1);
  border-radius: 36px;
  padding: 14px 247px 14px 247px;
}

.text_4 {
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}

.block_7 {
  width: 558px;
  align-self: center;
  margin-top: 40px;
}

.text-wrapper_2 {
  border-radius: 36px;
  height: 80px;
  border: 4px solid rgba(255, 184, 0, 1);
  width: 566px;
  margin: -4px -4px -4px -4px;
  padding: 14px 247px 14px 247px;
}

.text_5 {
  height: 44px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}
