html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(13, 12, 3, 1);
  position: relative;
  width: 22.96rem;
  height: 21.2rem;
  overflow: hidden;
}

.image-wrapper_2 {
  width: 16.267rem;
  height: 1.28rem;
  margin: 2.4rem 0 0 2.774rem;
}

.label_1 {
  width: 1.28rem;
  height: 1.28rem;
}

.label_2 {
  width: 1.28rem;
  height: 1.28rem;
  margin-left: 3.707rem;
}

.label_3 {
  width: 1.28rem;
  height: 1.28rem;
  margin-left: 3.734rem;
}

.label_4 {
  width: 1.28rem;
  height: 1.28rem;
  margin-left: 3.707rem;
}

.text-wrapper_2 {
  width: 16.107rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 2.854rem;
}

.text_1 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(189, 189, 189, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_2 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(189, 189, 189, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 3.92rem;
}

.text_3 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(189, 189, 189, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 3.84rem;
}

.text_4 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 184, 0, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-left: 3.867rem;
}

.grid_2 {
  width: 16.267rem;
  height: 11.414rem;
  flex-wrap: wrap;
  margin: 2.507rem 0 2.747rem 2.774rem;
}

.image-text_2-0 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
}

.label_5-0 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-0 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-1 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
}

.label_5-1 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-1 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-2 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
}

.label_5-2 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-2 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(255, 184, 0, 1);
}

.image-text_2-3 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
  margin-right: 0;
}

.label_5-3 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-3 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-4 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
}

.label_5-4 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-4 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-5 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
}

.label_5-5 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-5 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(255, 184, 0, 1);
}

.image-text_2-6 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
}

.label_5-6 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-6 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-7 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
  margin-right: 0;
}

.label_5-7 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-7 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-8 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
  margin-bottom: 0;
}

.label_5-8 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-8 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(255, 184, 0, 1);
}

.image-text_2-9 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
  margin-bottom: 0;
}

.label_5-9 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-9 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-10 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
  margin-bottom: 0;
}

.label_5-10 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-10 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}

.image-text_2-11 {
  width: 1.28rem;
  height: 2.134rem;
  margin: 0 3.707rem 2.507rem 0;
  margin-right: 0;
  margin-bottom: 0;
}

.label_5-11 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_1-11 {
  width: 1.12rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 0 0.08rem;
  color: rgba(189, 189, 189, 1);
}
