html {
  font-size: 37.5px;
}

.page {
  position: relative;
  width: 20rem;
  height: 48.054rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(13, 12, 3, 1);
  height: 48.054rem;
}

.image_1 {
  width: 20rem;
  height: 2.347rem;
}

.block_1 {
  position: relative;
  padding: 0.747rem 0.8rem 0.827rem 0.8rem;
}

.box_18 {
}

.label_1 {
  width: 1.12rem;
  height: 1.12rem;
  margin: 0.4rem 0 0.4rem 0;
}

.section_1 {
  background-image: url(./img/b20a9ec33bc24afb8a9e4716128f19fc_mergeImage.png);
  margin-left: 1.067rem;
}

.group_3 {
  height: 2.294rem;
  background: url(./img/SketchPnge003923ed16d4a72c2d2a44a2497d2d077f522eafb72c267f1015b98aeb53d5e.png) -0.027rem
    0.4rem no-repeat;
  background-size: 2.48rem 1.894rem;
  margin: -0.4rem 0.294rem 0.027rem 0.32rem;
}

.group_4 {
  background: url(./img/SketchPng6c86a62f9fce0afe33318d5d4f2fd6d75235d6a4f542dda6a0b0cbd25f2a3d0f.png) -0.027rem -0.027rem
    no-repeat;
  background-size: 2.294rem 2rem;
  margin: 0.347rem -0.027rem 0 0.48rem;
}

.box_2 {
  background: url(./img/SketchPng6eb7c8dc1ab4ed1dae824ce1265af3525d249eecfb0166614a8406fca08f017e.png) -0.054rem -0.134rem
    no-repeat;
  background-size: 3.04rem 1.494rem;
  position: relative;
  margin: 0.614rem -0.214rem 0.027rem -0.747rem;
  padding: 0.56rem 0.16rem 0.48rem 0.294rem;
}

.image-wrapper_1 {
  background: url(./img/SketchPng4354072b70eb839daaece1d7336c424640cbd15c8639716e975c560bbeef4402.png) -0.16rem -0.08rem
    no-repeat;
  background-size: 2.694rem 0.534rem;
}

.thumbnail_1 {
  width: 0.4rem;
  height: 0.294rem;
  margin: 0.24rem 1.734rem -0.267rem 0.374rem;
}

.label_2 {
  position: absolute;
  left: 1.467rem;
  top: 0.267rem;
  width: 1.067rem;
  height: 0.747rem;
}

.section_2 {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 12px;
  margin: 0.107rem 0 0.107rem 1.067rem;
  padding: 0.294rem 1.094rem 0.294rem 0.4rem;
}

.image-text_9 {
  width: 7.04rem;
}

.text-group_1 {
  height: 1.12rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.013rem;
  letter-spacing: 1.1875px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.147rem;
}

.label_3 {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.16rem 0 0.16rem 0;
}

.section_3 {
  border-radius: 50%;
  background-image: url(./img/bc271bde73f74519960e3d1b46518446_mergeImage.png);
  width: 1.707rem;
  height: 1.707rem;
  border: 2px solid rgba(255, 184, 0, 1);
  margin: 0.107rem 0 0.107rem 1.84rem;
}

.group_5 {
  background: url(./img/SketchPng1a4895d94113e32017b8476b463c3a4e0c83a96523b0d4130a7b5d30a391b4a5.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 1.067rem;
  padding: 1.147rem 0.8rem 0.987rem 1.254rem;
}

.image-text_10 {
  width: 3.2rem;
  padding-right: 0.347rem;
}

.text-group_9 {
  margin-top: 1.734rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(189, 189, 189, 1);
  font-size: 1.306rem;
  letter-spacing: 1.53125px;
  font-family: AppleColorEmoji;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.707rem;
  margin: 0 0.907rem 0 0.934rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.853rem;
  letter-spacing: 1px;
  font-family: 07nikumarufont;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.067rem;
  margin-top: -0.56rem;
}

.box_3 {
  border-radius: 50%;
  background-image: url(./img/4fb2b0f07540457cb8163acb666ebf8e_mergeImage.png);
  width: 2.507rem;
  height: 2.507rem;
  border: 4px solid rgba(255, 184, 0, 1);
  margin: 0 0 1.44rem -2.854rem;
}

.group_11 {
  margin: 0.507rem 0 0.507rem 2rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.013rem;
  font-family: 07nikumarufont;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.227rem;
  margin-right: 0.4rem;
}

.image-text_11 {
  width: 7.147rem;
  margin: 0.747rem 0 0 0.054rem;
}

.label_4 {
  width: 0.96rem;
  height: 0.96rem;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.693rem;
  font-family: 07nikumarufont;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.827rem;
  margin-top: 0.054rem;
}

.box_5 {
  background: url(./img/SketchPng1537cf9729451da71f6eff99f3de631770c81a2b5bb7be38d5897aeb148e4710.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.56rem 0 2.267rem 0.187rem;
  padding: 0.16rem 0.347rem 0.134rem 0.294rem;
}

.image-text_12 {
  width: 3.12rem;
}

.label_5 {
  width: 0.8rem;
  height: 0.667rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text-group_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.693rem;
  font-family: Rubik-BoldItalic;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.827rem;
}

.group_6 {
  background-color: rgba(77, 76, 69, 1);
  border-radius: 16px;
  width: 18.4rem;
  margin-top: 1.067rem;
  padding-left: 1.44rem;
}

.box_6 {
  background-image: url(./img/72f82164e7b4449682c4ef0d591e939c_mergeImage.png);
  width: 1.92rem;
  height: 1.92rem;
  margin: 0.427rem 0 0.427rem 0;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(215, 215, 215, 1);
  font-size: 0.853rem;
  letter-spacing: 1px;
  font-family: STHupo;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.88rem;
  margin: 0.96rem 0 0 0.64rem;
}

.box_7 {
  background-color: rgba(255, 184, 0, 1);
  border-radius: 16px;
  width: 9.2rem;
  margin-left: 1.68rem;
  padding: 0.427rem 1.68rem 0.427rem 1.44rem;
}

.group_7 {
  background-image: url(./img/22fc1b14f3654deb846110834337f016_mergeImage.png);
  width: 1.92rem;
  height: 1.92rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(162, 64, 0, 1);
  font-size: 0.853rem;
  letter-spacing: 1px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.987rem;
  margin-top: 0.48rem;
}

.image_2 {
  position: absolute;
  left: 14.827rem;
  top: 0.854rem;
  width: 1.6rem;
  height: 1.6rem;
}

.group_8 {
  background-color: rgba(50, 50, 43, 1);
  border-radius: 32px;
  width: 18.4rem;
  align-self: center;
  margin-top: -0.026rem;
  padding: 0.8rem 0.534rem 1.334rem 0.534rem;
}

.box_19 {
  width: 17.254rem;
  margin-right: 0.08rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(215, 215, 215, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: STHupo;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text-wrapper_1 {
  width: 6.96rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.75px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.72rem;
  margin-bottom: 0.027rem;
}

.text_7 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72rem;
}

.text_8 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(45, 152, 30, 1);
  font-size: 0.64rem;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72rem;
}

.box_20 {
  width: 17.227rem;
  margin: 0.694rem 0.08rem 0 0.027rem;
}

.section_4 {
  background-color: rgba(16, 16, 16, 1);
  border-radius: 10px;
  margin-top: 0.107rem;
  padding-right: 11.28rem;
}

.box_10 {
  background-color: rgba(255, 184, 0, 1);
  border-radius: 10px;
  width: 3.12rem;
  height: 0.534rem;
}

.text_9 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.72rem;
}

.box_21 {
  width: 17.254rem;
  margin: 1.067rem 0.08rem 0 0;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(215, 215, 215, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: STHupo;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text-wrapper_2 {
  width: 6.96rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.75px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.72rem;
  margin-bottom: 0.027rem;
}

.text_11 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72rem;
}

.text_12 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(45, 152, 30, 1);
  font-size: 0.64rem;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72rem;
}

.box_22 {
  width: 17.307rem;
  margin: 0.694rem 0 0 0.027rem;
}

.box_13 {
  background-color: rgba(16, 16, 16, 1);
  border-radius: 10px;
  margin-top: 0.107rem;
}

.box_14 {
  background-color: rgba(255, 184, 0, 1);
  border-radius: 10px;
  width: 14.4rem;
  height: 0.534rem;
}

.text_13 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.72rem;
}

.text-wrapper_3 {
  width: 7.974rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: 0.75px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.72rem;
  align-self: center;
  margin-top: 1.067rem;
}

.text_14 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72rem;
}

.text_15 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(45, 152, 30, 1);
  font-size: 0.64rem;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72rem;
}

.text_16 {
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.72rem;
}

.list_2 {
  width: 12.827rem;
  height: 1.84rem;
  justify-content: space-between;
  margin: 1.334rem 2.134rem 0 2.374rem;
}

.text-wrapper_5-0 {
  margin-right: 5.52rem;
}

.text_17-0 {
  overflow-wrap: break-word;
  color: rgba(215, 215, 215, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: STHupo;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  align-self: center;
}

.text_18-0 {
  width: 3.894rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 184, 0, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.72rem;
  margin-top: 0.534rem;
}

.text-wrapper_5-1 {
  margin-right: 5.52rem;
}

.text_17-1 {
  overflow-wrap: break-word;
  color: rgba(215, 215, 215, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: STHupo;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.667rem;
  align-self: center;
}

.text_18-1 {
  width: 3.894rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(255, 184, 0, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.72rem;
  margin-top: 0.534rem;
}

.block_2 {
  padding: 1.334rem 0.8rem 1.094rem 0.8rem;
}

.block_3 {
  width: 18.214rem;
  margin-right: 0.187rem;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.853rem;
  letter-spacing: 1px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2rem;
}

.group_10 {
  background-image: url(./img/e7d34eeec4e946e09828e8564390cf3f_mergeImage.png);
  width: 0.587rem;
  height: 0.587rem;
  margin: 0.32rem 0 0.294rem 0;
}

.block_4 {
  width: 18.4rem;
  margin-top: 0.534rem;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
  margin-top: 0.08rem;
}

.label_6 {
  width: 0.96rem;
  height: 0.96rem;
}

.image-wrapper_5 {
  margin: 1.067rem 3.894rem 0 0;
}

.image_3 {
  width: 1.494rem;
  height: 1.494rem;
}

.image_4 {
  width: 1.68rem;
  height: 1.227rem;
  margin: 0.134rem 0 0.134rem 0.8rem;
}

.image_5 {
  width: 1.52rem;
  height: 1.227rem;
  margin: 0.134rem 0 0.134rem 0.8rem;
}

.label_7 {
  width: 1.227rem;
  height: 1.227rem;
  margin: 0.134rem 0 0.134rem 0.907rem;
}

.label_8 {
  width: 1.227rem;
  height: 1.227rem;
  margin: 0.107rem 0 0.16rem 0.8rem;
}

.label_9 {
  width: 1.227rem;
  height: 1.227rem;
  margin: 0.107rem 0 0.16rem 0.8rem;
}

.label_10 {
  width: 1.227rem;
  height: 1.227rem;
  margin: 0.134rem 0 0.134rem 0.8rem;
}

.image_6 {
  width: 18.4rem;
  height: 0.027rem;
  margin-top: 0.534rem;
}

.text_21 {
  width: 18.4rem;
  height: 4.4rem;
  overflow-wrap: break-word;
  color: rgba(140, 140, 140, 1);
  font-size: 0.64rem;
  letter-spacing: 0.75px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 0.88rem;
  margin-top: 0.8rem;
}

.image-wrapper_6 {
  width: 9.334rem;
  align-self: center;
  margin-top: 0.747rem;
}

.image_7 {
  width: 3.44rem;
  height: 0.694rem;
}

.image_8 {
  width: 2.827rem;
  height: 0.694rem;
  margin-left: 0.534rem;
}

.image_9 {
  width: 1.947rem;
  height: 0.694rem;
  margin-left: 0.587rem;
}

.image-wrapper_7 {
  width: 11.2rem;
  align-self: center;
  margin-top: 0.667rem;
}

.image_10 {
  width: 1.734rem;
  height: 0.694rem;
}

.image_11 {
  width: 2.667rem;
  height: 0.64rem;
  margin: 0.027rem 0 0.027rem 0;
}

.image_12 {
  width: 3.28rem;
  height: 0.694rem;
}

.image_13 {
  width: 1.894rem;
  height: 0.694rem;
}

.block_5 {
  width: 16.267rem;
  align-self: center;
  margin-top: 0.827rem;
}

.image-text_13 {
}

.label_11 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(189, 189, 189, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  align-self: center;
  margin-top: 0.267rem;
}

.image-text_14 {
}

.label_12 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_6 {
  overflow-wrap: break-word;
  color: rgba(189, 189, 189, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0.027rem 0 0.134rem;
}

.image-text_15 {
}

.label_13 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_7 {
  overflow-wrap: break-word;
  color: rgba(189, 189, 189, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  align-self: center;
  margin-top: 0.267rem;
}

.image-text_16 {
}

.label_14 {
  width: 1.28rem;
  height: 1.28rem;
}

.text-group_8 {
  overflow-wrap: break-word;
  color: rgba(255, 184, 0, 1);
  font-size: 0.533rem;
  letter-spacing: 0.625px;
  font-family: huangyinqizhaopai;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  align-self: center;
  margin-top: 0.267rem;
}
